rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if signedInAs(userId);

      match /audiograms/{audiogramId} {
        allow read, write: if signedInAs(userId);
      }

      match /custom_presets/{presetId} {
        allow read, write: if signedInAs(userId);
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}

function signedInAs(uid) {
  return request.auth != null && request.auth.uid == uid;
}
